div.bg-wrapper {
  background-color: #f8f8f8;
}

section.how-it-works {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 48px 24px;
  max-width: 1024px;
  margin: auto;
}

section.how-it-works > h1 {
  font-size: 24px;
  font-weight: 700;
}

section.how-it-works ul {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

section.how-it-works ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

section.how-it-works ul li .heading {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

section.how-it-works ul li h1 {
  font-size: 16px;
  font-weight: 600;
}

section.how-it-works ul li p {
  font-size: 16px;
  font-weight: 400;
}

section.how-it-works ul li img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 1024px) {
  section.how-it-works {
    box-sizing: content-box;
    padding: 120px 56px;
  }

  section.how-it-works > h1 {
    font-size: 32px;
    text-align: center;
  }

  section.how-it-works ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 48px;
    row-gap: 80px;
  }

  section.how-it-works ul li .heading {
    height: 140px;
  }
}
